@mixin field-width($width) {
    width: $width;
    min-width: $width;
}

.cohorts {
    &__standard-field {
        @include field-width(12.5rem);
    }

    &__cohort-field {
        @include field-width(18.75rem);
    }

    &__student-field {
        @include field-width(20rem);
    }

    &__course-field {
        @include field-width(25rem);
    }

    &__resume-field {
        @include field-width(12.5rem);
    }

    &__subject-field {
        @apply leading-4;

        @include field-width(18.75rem);
    }

    &__indicator-field {
        .text_to_html, p, div {
            @apply truncate;

            max-width: 2.5rem !important;
        }
    }
}
