@mixin field-width($width) {
    width: $width;
    min-width: $width;
}

.cohorts {
    &__standard-field {
        @include field-width(12.5rem);
    }

    &__cohort-field {
        @include field-width(18.75rem);
    }

    &__student-field {
        @include field-width(20rem);
    }

    &__course-field {
        @include field-width(25rem);
    }

    &__resume-field {
        @include field-width(12.5rem);
    }

    &__subject-field {
        @apply leading-4;

        @include field-width(18.75rem);
    }

    &__indicator-field {
        @apply truncate;

        max-width: 3.125rem;

        .text_to_html, p, div {
            @apply truncate;

            max-width: 2.5rem !important;
        }
    }

    &__lost-subjects {
        @include field-width(10.3125rem);
    }

    .summary-table {
        tbody {
            background-color: white !important;

            tr:nth-of-type(even) {
                @apply bg-white;
            }

            td {
                &:first-child {
                    @apply sticky left-0 z-10 text-blue bg-white;

                    border-bottom: 0.0625rem solid #dddddd;
                }
            }
        }

        .student-title {
            &:first-child {
                @apply sticky left-0 z-10 bg-blue;

                border-bottom: 0.0625rem solid #dddddd;
            }
        }
    }
}
