.students {
  &__filter-modal {
    @apply absolute top-9 right-0 bg-blue w-40 rounded-md  flex flex-col transition-all overflow-hidden;

    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.15);
    animation: 0.4s showModal;
  }

  &__filter-item {
    @apply p-2 hover:bg-white hover:text-blue transition-all cursor-pointer;
  }
}

@keyframes showModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.observation__list:last-child {
  border: none;
}

.container__observations {
  width: calc(56.2vw);
}

.pointer {
  cursor: pointer;
}
