$dark-blue: #354052;

.form {
  width: 30rem;
  height: auto;
  background-color: white;
  border-radius: 6px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 2px 5px;
  position: relative;

  &__title {
    font-weight: 900;
    color: $dark-blue;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__setting {
    color: $dark-blue;
  }

  &__input {
    border: 1px solid rgba($color: #354052, $alpha: 0.2);
    border-radius: 6px;
    padding: 6px 12px;
    margin-bottom: 6px;
    width: 100%;
    &-error {
      border: 1px solid red;
    }
  }

  &__button {
    background-color: $dark-blue;
    color: white;
    margin: 0 auto;
    padding: 6px 18px;
    border-radius: 6px;

    &:hover {
      color: $dark-blue;
      background-color: white;
      box-shadow: 3px 3px 12px;
    }
  }

  &__icon {
    color: red;
  }

  &__error {
    color: red;
    text-align: center;
    margin-bottom: 4px;
  }
}
.list_courses_time_scroll {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #cccbcb; 
    border-radius: 4px;
}
}

.list_courses_time::-webkit-outer-spin-button,
.list_courses_time::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

  input[type='number'] {
    -moz-appearance: textfield;
  }
}
