@tailwind base;

@tailwind components;

@tailwind utilities;

@import "./index.scss";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 4.375rem;
}

.table {
    border-collapse: collapse;
    font-size: 0.8125rem;

    &-container {
        border-radius: 0.25rem 0.25rem 0 0;
        max-width: 75vw;

        // max-width: 1000px;
   
    }

    &-title {
        min-width: 75vw;
    }

    thead tr {
        @apply text-white text-left;
    }

    th, td {
        @apply px-2;

        height: 2.8125rem;
    }

    tbody tr {
        border-bottom: 0.0625rem solid #dddddd;
    }

    tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    tbody tr:last-of-type {
        border-bottom: 2px solid #354052;
    }
}

input, select {
    outline: none;
}

.text-left {
    text-align: left !important;
}

.button-icon {
    @apply transition-all w-6 h-6 rounded-full inline-flex items-center justify-center cursor-pointer;

    &:hover {
        background: rgba(255, 255, 255, 0.2);
    }
}

.select {
    @apply relative flex overflow-hidden text-white text-sm;

    width: 20em;
    height: 3em;
    border-radius: .25em;

    &::after {
        @apply absolute top-0 right-0 pointer-events-none;

        content: '\25BC';
        padding: 1em;
        background-color: #395167;
        transition: .25s all ease;
    }

    select {
        @apply bg-blue border-0 outline-0 appearance-none shadow-none flex-1 text-white cursor-pointer;

        padding: 0 1em;
        background-image: none;

        &::-ms-expand {
            @apply hidden;
        }
    }

    .fa-eye {
        @apply cursor-pointer;
    }
}

.field-error {
    @apply bg-red-300 text-white;
}
